/*
colors
@brand-primary  #DC5034 = #1 = TT Color 1 - red
@brand-success  #E98300 = #2 = TT Color 2 - orange
@brand-info     #9FCF67 = #3 = TT Color 3 - green md
@brand-warning  #C8DF8E = #4 = TT Color 4 - green lt
@brand-danger   #FCDA53 = #5 = TT Color 5 - yellow 

Grays
#2a2a2a - dk dk gray
#555    - dk gray
#808080 - md gray
#ABABAB - lt gray
#D5D5D5 - lt lt gray

gray
@gray-darker  = lighten(#000, 13.5%)
@gray-dark    = lighten(#000, 20%)
@gray         = lighten(#000, 33.5%)
@gray-light   = lighten(#000, 60%)
@gray-lighter = lighten(#000, 93.5%)
*/

/*Main*/

html {
    margin:0;
}

h1,h2,h3,h4,h5,h6,h7 {
    color:#0c0d11;
}
h1 {
    font-size:2.0em;
}
h2 {
    font-size:1.8em;
}
h3 {
    font-size:1.6em;
}
body {
    margin:0;
	color: #0c0d11;
	text-align: left;
	font-size: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
    background:url('../../images/web-pattern-wh10.png');
	background-color:#ccc;
}
p {
    margin:1.0em 0;
}
a {
    color:#e11b22;
}
a:hover {
    color:#3b3b3c;
    text-decoration:none;
}
.maxpg {
    max-width:1200px;
}
#main, #quicklink-wrap, #sidebar {
    background-color:white;
}
#callout {
    background-color:#e11b22;
}
.flush {
    padding-left:0px !important;
    padding-right:0px !important;
}
/*Page*/
#page {
    background-color:white;
    min-height:600px;
}
/*Top*/

#top {
    margin-top:1.0em;
    padding:1.5em 2.5em 0.5em 2.5em;
    background:url('../../images/header-img.png') no-repeat 120% -55px;
    background-size:80%;
    background-color:#000;
    border-top-left-radius:1.0em;
    border-top-right-radius:1.0em;
    border-bottom:4px solid #e11b22;
    max-height:122px;
}
#top .phone {
    color:white;
    margin:54px 0 0 0;
	font-size: 1.5em;
	font-weight: 400;
    text-align: right;
}

#top .logo {
    width:300px;
	float: left;
    height:90px;
/*	background: url('../../images/img-fpo.png') top left no-repeat;*/
}

#top .logo a {
	display: block;
	width: 100%;
	height: 100%;
}
#callout {
    color:white;
    text-align:center;
}
/*Slider*/
#pb_slideshow_slider-container-1 {
    margin-left:-15px !important;
}



/*Navigation*/

#navbar {
    background-color:#3b3b3c;
    color:white;
}
.navbar,
.nav-container {
    
}
.menu-social-media-container {
    height:50px;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
.navbar-header {
    background-color:black;
}


/*
<div class="navbar-header visible-xs">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Menu</a>
    </div>
*/





.navbar,
.navbar-brand,
.navbar-brand:hover,
.navbar-default .navbar-brand {
    color:white;
}
.navbar-default .navbar-brand:hover {
    color:#e11b22;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color:white;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color:#3b3b3c;
    border: 1px solid white;
    border-radius: 4px;
}
.nav > li > a {
    color:white;
    text-decoration:none;
    border-right:1px solid #0c0d11;
}
.nav > li > a:hover {
    color:white;
    background-color:#e11b22;
}
/*Product single*/
.product_title {
    max-width:90%;
}
.attachment-shop_thumbnail {
    border:4px solid #ccc;
    margin-right:5px;
}
.attachment-shop_thumbnail:hover {
    border:4px solid #e11b22;
}
p.price{
    font-size:1.5em;
    color:#767676;
}
li.product h3 {
    font-size:1.2em;
}
.product span.onsale {
    padding:1.0em 2.0em;
    background-color:green;
    color:white;
    Float:right;
}
li.sale span.onsale {
    width:100%;
    padding:0.2em 1.0em;
    background-color:green;
    float:right;
}
li.sale img {
    margin:-1.0em 0 0 0;
    float:left;
}
del span.amount {
    color:#ccc;
}
ins span.amount {
    color:green;
    text-decoration:none;
    font-style:italic;
}
ins {
    text-decoration:none;
    margin:0 0 0 15px;
}
.quantity {
    padding:0.0em 1.0em 1.0em 0;
    margin:0.2em 0.2em 0.2em 0;
    float:left;
}
.product_meta {
    padding:1.0em;
    margin:1.0em 0 0 0;
    background-color:#ccc;
}
table.variations tr{
    background-color:#ccc;
    margin:1.0em 0;
    
}
table.variations .label {
    color:#3b3b3c;
}
label.variation-label {
    font-size:1.2em;
    padding:11px;
    margin-top:5px;
}
table.variations tr a {
    font-size:1.2em;
    padding:11px;
}
.single_variation {
    margin:1.0em 0;
}
.single_variation span.price {
    font-size:2.0em;
    color:#e11b22;
}
.single_variation span.amount{
    
}
input.qty {
    color:green;
    width:5.0em;
    height:3.5em;
    padding:0.2em;
}
.single_add_to_cart_button {
    background-color:#e11b22;
    color:white;
    border:0px;
    padding:1.0em;
    margin:0.2em;
    float:none;
}
.single_add_to_cart_button:hover {
    background-color:#3b3b3c;
    color:white;
}
ul.tabs {
    width:100%;
    height:27px;
    list-style-type:none;
    font-size:1.1em;
    color:#3b3b3c;
    margin:1.0em 0 0 0;
    border-bottom:4px solid #ccc;
}
ul.tabs li{
    color:#3b3b3c;
    float:left;
    margin:0 1px 0 0;
}
ul.tabs li a{
    color:#3b3b3c;
    padding:0.5em 1.0em;
    background-color:#ccc;
}
ul.tabs li a:hover{
    color:white;
    padding:0.5em 1.0em;
    background-color:#e11b22;
}
ul.tabs .active a{
    color:white;
    background-color:red;
}
.woocommerce-pagination {
}
.woocommerce-pagination ul.page-numbers {
    list-style-type:none;
}
.woocommerce-pagination ul.page-numbers li{
    float:left;
    margin: 0 5px 2.0em 0;
}
.page-numbers .current {
    background-color:#e11b22;
    color:white;
    padding:0.5em 1.0em;
}



.woocommerce-pagination ul.page-numbers li a{
    background-color:#ccc;
    padding:0.5em 1.0em;
}
.woocommerce-pagination ul.page-numbers li a:hover {
    background-color:#e11b22;
    color:white;
}


/*Shop Menu*/
.shop {
    border-right:0px;
    background-color:#6a6868;
}
li.shop > a{
    border-right:0px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #e11b22;
    border-color: transparent;
}
.current-menu-parent,
.shop .current-menu-ancestor .current-menu-parent a,
.current-menu-item{
    background-color:#e11b22;
}
.dropdown-menu li a {
    color:white;
    text-decoration:none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #767676;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
    box-shadow: 0 0px 0px rgba(0,0,0,.175);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: white;
    text-decoration: none;
    background-color: #3b3b3c;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #3b3b3c;
    outline: 0;
}
/*Callout*/
h3.callout-message {
    font-size:1.5em;
    color:white;
    text-align:center;
    padding:0.5em 0 0.7em 0;
    margin:0;
}
h3.callout-message a{
    color:white;
    text-decoration:underline;
    margin:0;
}
h3.callout-message a:hover{
    color:#ccc;
    text-decoration:underline;
    margin:0;
}
h3.callout-message p{
    color:white;
    margin:0;
    padding:0;
}
/*Page Header*/
#page-header {
    background-color:#b3b4b2;
    border-top:0px solid black;
}
#page-header h1 {
    color:#e11b22;
    padding:0.1em 1.0em;
}
#page-header h1.page-title {
    padding:0;
    margin:0 0 0.5em 1.0em;
}
.feature-img {
    background-color:#767676;
    height:100px;
}
.feature-img img {
    width:100%;
}
/*Quicklinks*/
#quicklink-wrap {
    color:white;
    font-size:1.4em;
    text-align:center;
    overflow:hidden;
    background-color:#767676;
    position:relative;
    z-index:88;
}
#quicklink-wrap,
.quicklink {
    height:300px;
}    
#quicklink-wrap a {
    color:white;
}
.quicklink:hover {
    background-color:#e11b22;
    color:white;
    text-align:center;
}
#quicklink-wrap i {
    font-size:2.5em;
}
#quicklink-wrap i:hover {
    text-decoration:none;
}
#quicklink-wrap h2 {
    color:white;
    font-size:1.3em;
    padding-bottom:0.1em;
}
.quicklink {
    padding:0.5em 0;
    overflow:hidden;
    transition: background-color 0.3s ease;
    border-right:1px solid #ccc;
}
.quicklink:last-of-type {
    border:0px;
}
.qlhover {
    display:none;
    height:350px;
    width:100%;
}
.qlhover:hover {
    display:block;
    background-color:#e11b22;
    
}

.quicklink .go {
    display:none;
}

.quicklink:hover .go {
    display:block;
}
.quicklink:hover .now {
    display:none;
}
/*Content Main*/
#main {
}
    

/*Sidebar*/
#sidebar li {
    list-style-type:none;
}
h2.widgettitle {
    text-align:center;
    padding:0.5em 0 0 0.5em;
}
#social-media-icons {
    padding:1.0em 0;
    text-align:center;
}
#social-media-icons i{
    font-size:3.0em;
}
#sidebar {
    background-color:#e2e2e2;
    min-height:600px;
    margin-bottom:-999px;
    padding-bottom:999px;
    overflow:hidden;
    border-bottom-left-radius:2.0em;
}
a.side-icon {
    text-align:center;
    padding:1.0em 1.0em;
    text-decoration:none;
}
ul#menu-performance,
.menu-performance-container {
    padding:0;
    margin:0;
    font-weight:300;
    font-style:normal;
}
ul#menu-performance li {
    text-align:center;
    background-color:#767676;
    margin:1px 0;
    padding:0.5em 0;
}
ul#menu-performance li:hover {
    background-color:#e11b22;
}
ul#menu-performance li a{
    font-size:1.1em;
    font-weight:300;
    font-style:normal;
    color:white;
    padding:0.7em;
}






/*Section Header*/
#section-header {
    background-color:#ccc;
}
#section-header h2{
    font-size:2.0em;
    padding:1.0em 0;
    color:white;
    text-align:center;
}

#bucket-wrap {
    padding:1.0em 1.0em;
    background-color:white;
}
#bucket-wrap #bucket a {
    color:black;
    text-decoration:none;
}
#bucket-wrap #bucket a:hover {
    color:#ccc;
    text-decoration:none;
}
#bucket-wrap #bucket:hover {
    background-color:#e11b22;
}
#bucket-wrap #bucket h2 {
    text-align:center;
}
/*Loop*/
#bucket-wrap #bucket a .list-wrap .row h2{
    margin:0.3em 0;
    padding:0;
    text-align:left;
    font-size:1.0em;
    color:#767676;
}
.home-wrap,
.-wrap,
.performance-wrap {
    height:75px;
    overflow:hidden;
    background-color:#959292;
    padding:0;
    margin:0.3em 0 0 0;
}

.home-wrap h3,
.-wrap h3,
.performance-wrap h3 {
    font-size:0.9em;
    text-align:left;
    color:white;
    padding:0.5em;
    margin:0 0 0.5em 0;
    line-height:1.3em;
}

.home-wrap:hover,
.performance-wrap:hover,
.-wrap:hover{
    background-color:#ccc;
}
.home-wrap:hover .home-img,
.performance-wrap:hover .home-img img,
.-wrap:hover .-img img{
    opacity:0.5;
}
.home-img,
.performance-img,
.-img {
    background-color:#3b3b3c;
    padding:0;
    overflow:hidden;
}
.-img img,
.performance-img img,
.home-img img {
    width:85px;
    height:80px;
}
.home-wrap:hover h3,
.performance-wrap:hover h3,
.-wrap:hover h3{
    color:#333;
}
/*Products*/
.widget_products {
    background-color:transparent;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img{
    width:100px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.3);
}
.woocommerce ul.cart_list, .woocommerce ul.product_list_widget, .woocommerce-page ul.cart_list, .woocommerce-page ul.product_list_widget {
    background-color:transparent;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, .woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li {
    margin: 0 0 33px 0 !important;
}
ul.product_list_widget li {
    padding:0px !important;
    min-height:100px;
    background-color:#767676;
}
ul.product_list_widget li a {
    font-weight:400 !important;
    color:#ffffff;
    font-size:1.2em;
    padding:0.5em 0 68px 0.5em;
    height:auto;
}
ul.product_list_widget li a img {
    margin:-0.5em 0 0 0em;
    background-color:#ccc;
}
ul.product_list_widget li a:hover img {
    opacity:0.5;
}
ul.product_list_widget li a:hover {
    background-color:#e11b22;
}
ul.product_list_widget .amount {
    font-weight:400 !important;
    color:#ccc;
    font-size:1.5em;
    padding:0 0 0 0.5em;
    margin-top:-58px;
    float:left;
}
.woocommerce-breadcrumb {
    padding:1.0em 0 0.5em 2.0em;
}
ul.order_details {
    margin: 1.0em 0;
    padding:1.0em;
    list-style: none;
    background-color:#ccc;
}
ul.products {
    list-style-type:none;
    float:left;
    margin:0;
    padding:0;
}
ul.products li{
    float:left;
    margin:0;
/*    padding:0;*/
    min-height:375px;
}
ul.products li img{
    width:100%;
    margin:0;
    padding:0;
    min-height:150px;
}
ul.products li a h3{
    min-height:80px;
}
.available-on-backorder {
    color:#3b3b3c;
    float:right;
}
p.stock {
    color:#3b3b3c;
    float:right;
    padding-right:3.0em;
}
ul.products li span.price{
    
}
.woocommerce-tabs .panel {
    background-color:transparent;
    min-height:400px;
}


ul.products li span.amount{
    font-size:1.2em;
    margin:1.5em 0 0 0;
    padding:0.5em 0;
    color:#767676;
    clear:both;
}
ul.products li a.button{
    background-color:#e11b22;
    color:#ffffff;
    padding:0.5em;
    margin:0 0 0 1.0em;
    float:right;
}
ul.products li a.button:hover{
    background-color:#3b3b3c;
    
}
select.orderby {
    margin:1.0em 1.0em;
    padding:1.0em;
    float:right;
}
p.woocommerce-result-count {
    float:left;
}
ul.product-categories {
    margin:0;
    padding:0;
}
ul.product-categories li.cat-item {
    background-color:#767676;
    margin:0;
    padding:0.7em 0;
    border-bottom:1px solid #ccc;
}
ul.product-categories li.cat-item:hover {
    background-color:#e11b22;
    border-bottom:1px solid #ccc;
}
ul.product-categories li.cat-item a{
    color:#ccc;
    margin:0;
    padding:1.0em;
}
ul.product-categories a:hover{
    background-color:transparent;
    color:white;
}
ul.product-categories ul.children {
    background-color:#3b3b3c;
    margin:0;
    padding:0;
    border-bottom:1px solid #ccc;
}
ul.product-categories ul.children a {
    margin:0 0 0 1.0em;
}
ul.product-categories ul.children li.cat-item > ul.children li.cat-item a{
    color:white;
    margin:0 0 0 2.5em;
}

ul.product-categories ul.children li.cat-item a{
    background-color:transparent;
    content:">";
}
ul.product-categories ul.children li.cat-item:hover{
    background-color:#767676;
}
ul.product-categories ul.children li.cat-item:first-child{
    margin-top:0.5em;
}
ul.product-categories ul.children li.cat-item{
    background-color:#3b3b3c;
    padding:0.5em 0;
}
ul.product-categories ul.children a:before{
    content:"> ";
}
ul.product-categories li.current-cat,
ul.product-categories li.cat {
    background-color:#e11b22;
    padding-bottom:1.5em;
}

ul.product-categories ul.children li.current-cat {
    background-color:#e11b22;
}
ul.product-categories li.current-cat-parent {
    background-color:#a01318;
}
ul.product-categories ul.children li.current-cat a {
    color:white;
}
ul.product-categories ul.children li.cat-item > ul.children li.cat-item:hover,
ul.product-categories ul.children > li.cat-item:hover,
ul.product-categories > li.cat-item:hover{
    background-color:#e11b22;
    
}

/*Footer*/
#footer-wrap {
    color:white;
    background-color:#0c0d11;
    border-bottom-left-radius:1.0em;
    border-bottom-right-radius:1.0em;
}
#footer-col {
    padding:1.0em 1.0em;
    text-align:center;
}
#footer-col a{
    text-decoration:none;
    color:white;
}
#footer-col p{
    font-size:1.2em;
}
#footer-col a:hover{
    text-decoration:none;
    opacity:80;
}
#footer-col img{
    margin:0 auto;
}
#footer-wrap h2,
#footer-wrap h4 {
    color:white;
}
#copyright {
    height:300px;
    color:#000;
    padding:1.0em;
    background-color:#ccc;
    margin-bottom:0;
    padding-bottom:0;
    overflow:hidden;
}
#copyright a{
    color:#333333;
}
#copyright a:hover{
    color:#9fcf67;
}

/*
#wpadminbar {
    display:none;
}
*/
/*Blog*/
.tt-post-img-wrap {
    background-color:#ccc;
}
.tt-post-img-wrap img{
    width:100%;
    height:auto;
}
.tt-post-loop {
    
}
.tt-post-content {
    padding:1.0em;
}
.tt-post-content img {
    max-width:100%;
    padding-right:15px;
    height:auto;
}
.rule {
    
}

/* mobile ------------------------START------------------- */

@media only screen 
and (max-width : 768px) {

/* Turns off WP admin bar */
#wpadminbar { 
    display:none; 
}
    
    
/*Top*/

#top {
    margin-top:0 auto;
    padding:1.5em 0;
    background:url('../../images/header-img.png') no-repeat center 75px;
    background-size:100%;
    background-color:#000;
    border-top-left-radius:0em;
    border-top-right-radius:0em;
    border-bottom:4px solid #e11b22;
}
h2.phone-m{
    color:white;
	font-size: 1.5em;
	font-weight: 400;
    text-align: center;
    background-color:#e11b22;
    padding:1.0em;
    margin:0;
}

#top .logo {
    width:80%;
    margin: 0 auto;
    float:none;
}

#top .logo a {
    text-align:center;
	display: block;
	width: 100%;
	height: 100%;
}
#callout {
    color:white;
    text-align:center;
}    

    
.mobile-main-nav {display: block;}
    
#social .pull-right {
}
#social {
    width:100%;
    padding:0 auto;
    text-align:center;
}    
#slider-wrap {
        display:none;
    }
.quicklink {
    height:auto;
    padding: 1.0em;
    overflow:visible;
    background-color: #79a89b;
    border-bottom:1px solid #79a89b;
}
.now, .go, .quicklink:hover .go {
    display:none;
}

} /* @media -------------END-----------------*/